<footer>
  <div class="row margin-0 padding-30">
    <div class="col-lg-auto col-md-auto col-sm-auto padding-0">
        <a href="index" ><img src="/img/ukwa-2018-logo.png" class="header-logo"></a>
    </div>
</div>
<div class="row">
    <div class="col-md-1 col-sm-1 d-none d-sm-block">&nbsp;</div>
    <div class="col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-12">
        <a href="index" title="Home" class="collection-link">
            <div class="left light-blue padding-bottom-5 dialog-link">Home</div>
        </a><br/>
        <a href="info/about" title="About" class="collection-link">
            <div class="left light-blue padding-bottom-5 dialog-link">About</div>
        </a><br/>
        <a href="collection" title="Special Collections" class="collection-link">
            <div class="left light-blue padding-bottom-5 dialog-link">Topics and Themes</div>
        </a><br/>
        <a href="http://britishlibrary.typepad.co.uk/webarchive/" target="_blank" title="Blog" class="collection-link">
            <div class="left light-blue padding-bottom-5 dialog-link">Blog</div>
        </a><br/>
        <a href="info/nominate" title="Save a UK website" class="collection-link">
            <div class="left light-blue padding-bottom-5 dialog-link">Save a UK website</div>
        </a><br/>
    </div>
    <div class="col-md-1 col-sm-1 d-none d-sm-block">&nbsp;</div>
    <div class="col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-12">
        <a href="info/notice_takedown" class="collection-link" title="Notice and Takedown">
            <div class="left light-blue padding-bottom-5 dialog-link">Notice and Takedown</div>
        </a><br/>
        <a href="info/terms_conditions" class="collection-link" title="Terms and Conditions">
            <div class="left light-blue padding-bottom-5 dialog-link">Terms and Conditions</div>
        </a><br/>
        <a href="http://www.bl.uk/aboutus/terms/privacy/index.html" class="collection-link" title="Privacy Statement" target="_blank">
            <div class="left light-blue padding-bottom-5 dialog-link">Privacy Statement</div>
        </a><br/>
        <a href="info/cookies" class="collection-link" title="Cookie Policy">
            <div class="left light-blue padding-bottom-5 dialog-link">Cookie Policy</div>
        </a><br/>
    </div>
    <div class="col-md-1 col-sm-1 d-none d-sm-block">&nbsp;</div>
    <div class="col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-12">

        <a href="info/faq" title="FAQ" class="collection-link">
            <div class="left light-blue padding-bottom-5 dialog-link">FAQ</div>
        </a><br/>
        <a href="contact" title="Contact" class="collection-link">
            <div class="left light-blue padding-bottom-5 dialog-link">Contact Us</div>
        </a><br/>
        
        
        
        
         <span lang="cy"><a href="/cy/ukwa/collection?" title="Cymraeg" class="collection-link">
      <div class="left light-blue padding-bottom-10 dialog-link">Cymraeg</div></a></span><br/>
        
        <a href="https://www.webarchive.org.uk/rss/recent.xml" title="RSS Feed" class="collection-link">
            <div class="left light-blue padding-bottom-10 dialog-link">RSS Feed</div>
        </a><br/>
    </div>
</div>

<div class="cookies-cont">
    <div class="row">
        <div class="col-md-8 col-sm-12">By using this site, you agree we can set and use cookies. For more details of these cookies and how to disable them, see our <a href="cookies" class="white">cookie policy</a>.</div>
        <div class="col-md-4 col-sm-12 padding-top-mobile-10"><button class="button button-white float-sm-right" id="btn_cookies" title="Close message">OK</button></div>
    </div>
</div>
</div>
<hr/>
<div class="row margin-0 padding-30">
    <div class="col-12 center footer-legal-deposit">
        The UK Web Archive collects on behalf of these UK Legal deposit Libraries
    </div>
</div>

<div class="row">
    <div class="col-12">
    <div class="container-footer-group">
        <div class="footer-logo-BW"><a href="http://www.bodleian.ox.ac.uk/" target="_blank"><img src="/img/bodleian_logo_BW.jpg" alt="Bodleian Libraries" /></a></div>
        <div class="footer-logo-BW"><a href="https://www.llgc.org.uk/" target="_blank"><img src="/img/llgc_logo_BW.png" alt="LLGC NLW" /></a></div>
        <div class="footer-logo-BW"><a href="https://www.nls.uk/" target="_blank"><img src="/img/NLS_logo_2_BW.jpg" alt="National Library of Scotland" /></a></div>
        <div class="footer-logo-BW"><a href="https://www.bl.uk/" target="_blank"><img src="/img/bl_logo_BW.png" alt="British Library" /></a></div>
        <div class="footer-logo-BW"><a href="http://www.lib.cam.ac.uk/" target="_blank"><img src="/img/cambrige_logo600_BW.png" alt="Cambrige University Library" /></a></div>
        <div class="footer-logo-BW"><a href="https://www.tcd.ie/" target="_blank"><img src="/img/trinity_logo_BW.jpg" alt="Trinity College Dublin" /></a></div>
    </div>
    </div>
</div>
<hr style="width: 100%; color: darkblue; height: 7px; background-color:royalblue; margin-bottom:1px !important;margin-top:1px !important;" />

<!--[if (gt IE 9)|!(IE)]><!-->
<script>
    if(jQuery){
        console.log('yes');
    }
    $(document).ready(function(e) {
        $("#showMoreDomainLink").click(function() {
            if($("#domains_filter_div").is(":visible")){ //hide then
                $("#domains_filter_div").hide(300);
                $('#showMoreDomainLink').html('Show more');
            }
            else{
                $("#domains_filter_div").show(300);
                $('#showMoreDomainLink').html('Hide');
            }
        });
        $("#showMoreCollectionLink").click(function() {
            if($("#collections_filter_div").is(":visible")){ //hide then
                $("#collections_filter_div").hide(300);
                $('#showMoreCollectionLink').html('Show more');
            }
            else{
                $("#collections_filter_div").show(300);
                $('#showMoreCollectionLink').html('Hide');
            }
        });
        $("#showMoreSuffixLink").click(function() {
            if($("#suffix_filter_div").is(":visible")){ //hide then
                $("#suffix_filter_div").hide(300);
                $('#showMoreSuffixLink').html('Show more');
            }
            else{
                $("#suffix_filter_div").show(300);
                $('#showMoreSuffixLink').html('Hide');
            }
        });
        $("#showMoreDocumentTypeLink").click(function() {
            if($("#content_type_filter_div").is(":visible")){ //hide then
                $("#content_type_filter_div").hide(300);
                $('#showMoreDocumentTypeLink').html('Show more');
            }
            else{
                $("#content_type_filter_div").show(300);
                $('#showMoreDocumentTypeLink').html('Hide');
            }
        });
    });

    //progress bar
    var pleaseWait = $('#pleaseWaitDialog');
    showPleaseWait = function () {
        pleaseWait.modal('show');
    };
    hidePleaseWait = function () {
        pleaseWait.modal('hide');
    };
    //hidePleaseWait();
</script>
<!--<![endif]-->

<script> (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-7571526-5', 'auto'); ga('send', 'pageview');
</script>

</footer>
</div>
<input type="hidden" id="no-coll-description" name="no-coll-description" value="This collection has no description" />
<script>

function toggleView(action, fcs) {

  if (action === "list") {
        $("#collections_thumbs").hide();
    $("#collections_list").show();
    $("#btn_list").hide();
    $("#btn_thumbs").show();
    if (fcs) $("#btn_thumbs").focus();
    $.cookie("collections_display", "list", { expires: 365, path: '/' });
  } else {
        $("#collections_list").hide();
    $("#collections_thumbs").show();
    $("#btn_thumbs").hide();
    $("#btn_list").show();
    if (fcs) $("#btn_list").focus();
    $.cookie("collections_display", "thumbnails", { expires: 365, path: '/' });
  }

  return true;
}

$(document).ready(function(e) {
    var $menuItems = $('.header-menu-item');
    $menuItems.removeClass('active');
    $("#headermenu_collection").addClass('active');

  if (typeof $.cookie('collections_display') === 'undefined' || $.cookie('collections_display')!=="list") {
    toggleView("thumbs", false);
  } else {
    toggleView("list", false);
  }

  $("#btn_thumbs").on("click keypress", function(e) {
    if (e.which == 1 || e.which == 13) {
      e.preventDefault();
      toggleView("thumbs", true);
    }
    });

  $("#btn_list").on("click keypress", function(e) {
    if (e.which == 1 || e.which == 13) {
      e.preventDefault();
      toggleView("list", true);
    }
    });

  //view subcollections
  var text_show = 'Show subcollections';
  var text_hide = 'Hide subcollections';
  $(".collections-subcollections-link").each(function(index, element) {
        $(this).click(function(e) {
      e.preventDefault();
            if ($(this).parent().prev(".collections-subcollections").css("display")=="none") {
        $(this).parent().prev(".collections-subcollections").show(200);
        $(this).text(text_hide);
      } else {
        $(this).parent().prev(".collections-subcollections").hide(200);
        $(this).text(text_show);
      }
        });
    });

});

</script>
</body>
</html>