.blog-header, .blog-post, .blog-pagination {
  /* margin-bottom: 2rem; */
  border-top: 4px solid royalblue;
}

/* Make sure the image size is reasonable. */
.blog-post img {
  /* max-width: 100%; */
}

.navbar {
  background-color: white !important;
}

.navbar a.nav-link {
    color: #2e6dd9 !important;
}

.navbar a.nav-link:hover {
    text-decoration: underline;
}

.main-search-input-new {
  color: #ffffff;
  height: 256px;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url("/img/icons/UKWA-hero-composite-final.png");
  background-size: cover;
}
.main-search-input-new h1 {
    margin-top: 100px;
}
