<!doctype html>
<html lang="{{ .Lang }}">
  <head>
    {{ partial "head-meta" . }}

    <link rel="canonical" href="{{ .Permalink }}">

    <title>
      {{ block "title" . }}
        {{ .Title}}{{ if ne .Title .Site.Title }} | {{ .Site.Title }}{{ end }}
      {{ end }}
    </title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="">
    {{ $style := resources.Get "bootstrap/css/bootstrap.min.css" }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <!-- Theme additions -->
    {{ $options := (dict "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $style := resources.Get "scss/main.scss" | resources.ToCSS $options }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">

    <!-- link href="{{ .Site.BaseURL }}css/style.css" rel="stylesheet" -->

    <link href='{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}' rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

    {{ template "_internal/google_analytics_async.html" . }}

    {{ partial "head-custom.html" . }}
  </head>
  <body class="theme-light">
    <div class="container-fluid">

    {{ block "header" . }}
      {{ partial "header" . }}
    {{ end }}
    
    {{ block "hero" . }}
    <div class="container-fluid d-flex ukwa-hero-banner mb-3 pt-2">
      <div class="row justify-content-center align-self-center">
         <div class="col-12">
            <h1 class="pl-lg-5 pl-md-3 pl-sm-1 mb-0">{{ .Title }}</h1>
          </div>
      </div>
    </div>
    {{ end }}

    {{ block "body" . }}

          {{ block "breadcrumb" . }}
            {{ partial "breadcrumb" . }}
          {{ end }}

          <div class="pr-3 pl-3">
            {{ block "main" . }}
            {{ end }}
          </div>

          <hr/>


      <div class="cookies-cont">
        <div class="row">
            {{ with .Site.GetPage "info/cookies" }}
            <div class="col-md-8 col-sm-12">{{ i18n "footerCookiesText" | safeHTML }}</div>
            {{ end }}
            <div class="col-md-4 col-sm-12 padding-top-mobile-10"><button class="button float-sm-right" id="btn_cookies" title='{{ i18n "footerCookiesCloseButton" }}'>{{ i18n "footerCookiesButton" }}</button></div>
        </div>
      </div>
    {{ end }} 

    {{ block "footer" . }}
      {{ partial "footer" . }}
    {{ end }}

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {{ $secureJS := resources.Get "js/jquery-3.5.1.min.js" | resources.Fingerprint "sha512" }}
    <script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>
    {{ $secureJS := resources.Get "popperjs/popper.min.js" | resources.Fingerprint "sha512" }}
    <script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>
    {{ $secureJS := resources.Get "bootstrap/js/bootstrap.min.js" | resources.Fingerprint "sha512" }}
    <script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>

    {{ $secureJS := resources.Get "js/jquery.cookie.min.js" | resources.Fingerprint "sha512" }}
    <script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>

    {{ $secureJS := resources.Get "js/common.js" | resources.Minify | resources.Fingerprint "sha512" }}
    <script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>

    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      });
    </script>

  </body>
</html>


