<!doctype html>
<html lang="{{ .Lang }}">
  <head>
    {{ partial "head-meta" . }}

    <link rel="canonical" href="{{ .Permalink }}">

    <title>
      {{ block "title" . }}
        {{ .Title}}{{ if ne .Title .Site.Title }} | {{ .Site.Title }}{{ end }}
      {{ end }}
    </title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="">
    {{ $style := resources.Get "bootstrap/css/bootstrap.min.css" }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <!-- Theme additions -->
    {{ $sass := resources.Get "scss/main.scss" }}
    {{ $style := $sass | resources.ToCSS }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">

    <!-- link href="{{ .Site.BaseURL }}css/style.css" rel="stylesheet" -->

    <link href='{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}' rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

    {{ template "_internal/google_analytics_async.html" . }}

    {{ partial "head-custom.html" . }}
  </head>
  <body class="theme-light">
    <div class="container-fluid">

    {{ block "header" . }}
      {{ partial "header" . }}
    {{ end }}
    
    {{ block "hero" . }}
    <div class="container-fluid d-flex ukwa-hero-banner mb-3 pt-2">
      <div class="row justify-content-center align-self-center">
         <div class="col-12">
            <h1 class="pl-lg-5 pl-md-3 pl-sm-1 mb-0">{{ .Title }}</h1>
          </div>
    </div>
    </div>
    {{ end }}

    {{ block "body" . }}

    <div class="container-fluid">
      <div class="row pr-lg-5 pl-lg-5 pr-md-3 pl-md-3 pr-sm-1 pl-sm-1">
        <div class="col-12 blog-main">

          {{ block "breadcrumb" . }}
            {{ partial "breadcrumb" . }}
          {{ end }}

          {{ block "main" . }}
          {{ end }}

          <hr/>

        </div>

      </div>
    </div>
    {{ end }} 

    {{ block "footer" . }}
      {{ partial "footer" . }}
    {{ end }}

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      });
    </script>

    {{ $js := resources.Get "js/jquery.cookie.min.js" }}
    {{ $secureJS := $js | resources.Fingerprint "sha512" }}
    <script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>

    {{ $js := resources.Get "js/common.js" }}
    {{ $secureJS := $js | resources.Fingerprint "sha512" }}
    <script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>

  </body>
</html>


