{{ define "hero" }}

<div class="container-fluid d-flex ukwa-hero-banner mb-3 pt-2">
  <div class="row justify-content-center align-self-center">

    <div class="col-lg-12 col-md-12 offset-md-2 offset-sm-0">
        <h2 class="">Search the UK Web Archive</h2>
    </div>

  <form action="search" method="get" enctype="multipart/form-data">
    <div class="col-lg-8 col-md-8 col-sm-12 mb-3">
      <input type="text" name="text" class="form-control form-control-lg" placeholder="Enter a specific website URL (e.g. www.bl.uk) or any word or phrase...">
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12">
      <button type="submit" class="btn btn-light mb-2 pl-4 pr-4 btn-lg">Search <i class="fa fa-search ml-2"></i></button>
    </div>
   </form>

    <div class="col-md-12 offset-md-2">
	<p>
	  <a href="/info/tips" class="text-white">Tips/Notes for using the UK Web Archive</a>
	</p>
    </div>

    </div>
  </div>
{{ end }}


{{ define "main" }}
    {{ .Content }}

<div class="row pt-4">

<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-3">
TO ADD
</div>

<!-- additional (temporary) for testing -->

<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-3">
TO ADD
</div>

<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-3">
TO ADD
</div>

<!-- The proper ones 
<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-3">
	{{ with .Site.GetPage "/collection/french-in-london" }}
	  {{ partial "collection-card" .}}
	{{ end }}
</div>

<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-3">
	{{ with .Site.GetPage "/collection/news-sites" }}
	  {{ partial "collection-card" .}}
	{{ end }}
</div>
-->

</div>

<div class="row pt-2">
	<p class="text-center w-100">
<a href='{{ "collection/" | relLangURL }}' class="btn btn-primary btn-lg">View all Topics & Themes</a>
</p>
</div>


<hr>

<div class="row">

<div class="col-md-4">	
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href='{{ "collection/" | relLangURL }}'>Topics &amp; Themes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/info/nominate">Save a UK website</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/info">About Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/contact">Contact Us</a>
  </li>
</ul>
</div>

<div class="col-md-4">	
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" href="/info/notice_takedown">Notice &amp; Takedown</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/info/terms">Terms &amp; Conditions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="http://www.bl.uk/aboutus/terms/privacy/index.html">Privacy Statement</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/info/cookies">Cookie Policy</a>
  </li>
</ul>
</div>

<div class="col-md-4">
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active" href="http://britishlibrary.typepad.co.uk/webarchive/">Blog</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/info/faq">FAQ</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href='{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}'>RSS Feed</a><!-- was rss/recent.xml? -->
  </li>
  <li class="nav-item">
    <a class="nav-link" href='{{ "target/" | relLangURL }}'>All Curated Web Sites</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/cy/">Cymraeg</a>
  </li>
</ul>
</div>

</div>

{{ end }}
