{{ define "hero" }}

  <form action="ukwa/search" method="get" enctype="multipart/form-data" name="search_form" id="search_form">
    <div class="container-fluid d-flex ukwa-hero-banner mb-3 pt-2 px-md-5 px-sm-3 px-xs-3 px-2">
        <div class="row justify-content-center align-self-center" role="group">
            <div class="col-md-10">
                <h1 class="main-heading-2-redesign padding-bottom-20">{{ i18n "searchTheUkWebArchive" }}</h1>
            </div>
            <div class="col-md-8 offset-md-1 mt-2">
                <input role="textbox" type="text" name="text" class="form-control form-control-lg homepage-search-input mr-lg-5 mr-md-5" placeholder="" aria-label='{{ i18n "inputSearchText" }}' title='{{ i18n "searchField" }}' required="" aria-required="true" id="hs-input-field">
            </div>
            <div class="col-md-3 mt-2">
                <button role="button" type="submit" class="btn btn-lg btn-light h-100 w-auto align-items-center homepage-search-button" title='{{ i18n "search" }}'>
                    <span class="align-middle">{{ i18n "search" }}<i class="fa fa-search ml-2" aria-hidden="true"></i></span>
                </button>
            </div>
            <div class="col-md-10 mt-2 dialog-link">
	<label for="hs-input-field" id="tipsDialog">{{ i18n "searchTipsLink" }}&nbsp;<a role="dialog" aria-labelledby="tipsDialog" href="#" data-toggle="modal" data-target="#searchingUKWAModalCenter" class="no-decoration bg-transparent" title='{{ i18n "searchTipsTitle" }}'><i class="fas fa-info-circle text-white"></i></a></label>
            </div>
            <input aria-hidden="true" type="hidden" name="search_location" id="search_location_full_text" value="full_text">
            <input aria-hidden="true" type="hidden" name="reset_filters" id="reset_filters" value="false">
        </div>
    </div>
  </form>

  <!-- Modal: search tips -->
  <div class="modal fade" id="searchingUKWAModalCenter" tabindex="-1" role="dialog" aria-label='{{ i18n "searchTipsDialog" }}' aria-hidden="true">
    <div class="modal-dialog tips-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header d-block">
                <button type="button" class="close float-right" data-dismiss="modal" aria-label='{{ i18n "close" }}'>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding: 0">
                <h2 class="main-heading-dialog-redesign" id="tips-notes-title-id" style="padding-left: 40px;padding-bottom: 40px">{{ i18n "searchTipsTitle" }}</h2>
                <div class="padding-left-20" role="group" aria-labelledby="tips-notes-title-id">
                  <ol class="list-group list-group-flush">
                            <li class="list-group-item padding-top-10 padding-bottom-10" role="option" tabindex="0" aria-label='{{ i18n "searchTip1Text" }}' >
                                <span class="circle">1</span>&nbsp;
                                {{ i18n "searchTip1Text" }}
                            </li>
                            <li class="list-group-item padding-top-10 padding-bottom-10" role="option" tabindex="0" aria-label='{{ i18n "searchTip2Text" }}'>
                                <span class="circle">2</span>&nbsp;
                                {{ i18n "searchTip2Text" }}
                            </li>
                            <li class="list-group-item padding-top-10 padding-bottom-10" role="option" tabindex="0" aria-label='{{ i18n "searchTip3Text" }}'>
                                <span class="circle">3</span>&nbsp;
                                {{ i18n "searchTip3Text" }}
                            </li>
                            <li class="list-group-item padding-top-10 padding-bottom-10" role="option" tabindex="0" aria-label='{{ i18n "searchTip4Text" }}'>
                                <span class="circle">4</span>&nbsp;
                                {{ i18n "searchTip4Text" }}
                            </li>
                            <li class="list-group-item padding-top-10 padding-bottom-10" role="option" tabindex="0" aria-label='{{ i18n "searchTip5Text" }}'>
                                <span class="circle">5</span>&nbsp;
                                {{ i18n "searchTip5Text" }}
                            </li>
                            <li class="list-group-item padding-top-10 padding-bottom-10" role="option" tabindex="0" aria-label='{{ i18n "searchTip6Text" }}'>
                                <span class="circle">6</span>&nbsp;
                                {{ i18n "searchTip6Text" }}
                            </li>
                            <li class="list-group-item padding-top-10 padding-bottom-10" role="option" tabindex="0" aria-label='{{ i18n "searchTip7Text" }}'>
                                <span class="circle">7</span>&nbsp;
                                {{ i18n "searchTip7Text" }}
                            </li>
                      </ol>
                </div>
            </div>
            <div class="modal-footer inline-block-items justify-content-center" style="width: 100%;">
                <button type="button" class="btn btn-primary" style="width: 20%;" data-dismiss="modal">{{ i18n "close" }}</button>
            </div>
        </div>
    </div>
  </div>
  <!-- Modal: search message -->
  <div class="modal fade" id="pleaseWaitDialog" tabindex="-1" role="progressbar">
    <div class="modal-dialog" style="padding-top:15%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="main-heading-2-bold-redesign modal-title mobile-dialog text-center">{{ i18n "searchModalPleasewaitText" }}</h2>
            </div>
            <div class="modal-body center pleasewait-modal-body-config">
                <div class="center-block align-items-center">
                    <img alt='{{ i18n "progressBar" }}' src="/img/icons/gif4.gif">
                </div>
            </div>
        </div>
    </div>
  </div>
{{ end }}

{{ define "breadcrumb" }}
<!-- no breadcrumb on homepage -->
{{ end }}

{{ define "main" }}
    <article class="home-page">
    {{ .Content }}

    <div class="row padding-top-20">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 image-grid-col padding-bottom-20 padding-top-30"> <a href="ukwa/collection/329" class="collection-link">
          <img class="img-fluid border-gray coll-img" alt="British Stand-up Comedy Archive" src="ukwa/img/collections/collection_329.png">
          <h3 class="left padding-bottom-10 padding-left-20 padding-right-20 collection-heading-bold">British Stand-up Comedy Archive</h3>
          <div class="left padding-bottom-10 padding-left-20 padding-right-20 collection-heading thumbnail" style="">Collection owned and administered byElspeth Millar.</div>
      </a> </div>

      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 image-grid-col padding-bottom-20 padding-top-30"> <a href="ukwa/collection/309" class="collection-link">
          <img class="img-fluid border-gray coll-img" alt="French in London" src="ukwa/img/collections/collection_309.png">
          <h3 class="left padding-bottom-10 padding-left-20 padding-right-20 collection-heading-bold">French in London</h3>
          <div class="left padding-bottom-10 padding-left-20 padding-right-20 collection-heading thumbnail" style="height: 86.8px;">This collection of websites has been selected bySaskia Huc-Hepher.</div>
      </a></div>

      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 image-grid-col padding-bottom-20 padding-top-30"> <a href="ukwa/collection/138" class="collection-link">
          <img class="img-responsive border-gray coll-img" alt="News Sites" src="ukwa/img/collections/collection_138.png">
          <h3 class="left padding-bottom-10 padding-left-20 padding-right-20 collection-heading-bold">News Sites</h3>
          <div class="left padding-bottom-10 padding-left-20 padding-right-20 collection-heading thumbnail" style="height: 86.8px;">558 titles are included in this collection.</div>
      </a></div>
    </div>    

<!-- additional (temporary) for testing 
<div class="row pt-4">

<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-3">
TO ADD
</div>


<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-3">
TO ADD
</div>

<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-3">
TO ADD
</div>

-->

<!-- The proper ones, assuming collections are managed here as static files
<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-3">
	{{ with .Site.GetPage "/collection/french-in-london" }}
	  {{ partial "collection-card" .}}
	{{ end }}
</div>

<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-3">
	{{ with .Site.GetPage "/collection/news-sites" }}
	  {{ partial "collection-card" .}}
	{{ end }}
</div>

</div>
-->

<div class="row pt-2">
	<p class="text-center w-100">
<a href='{{ "ukwa/collection/" | relLangURL }}' class="btn ukwa-button btn-primary btn-lg">{{ i18n "viewAllCollections" }}</a>
</p>
</div>


<hr>

<div class="row">

<div class="col-md-4">	
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" href='{{ "/" | relLangURL }}'>{{ i18n "home" }}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href='{{ "ukwa/collection/" | relLangURL }}'>{{ i18n "collectionsTitle" }}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href='{{ "ukwa/info/nominate" | relLangURL }}'>{{ i18n "saveAUkWebsite" }}</a>
  </li>
  <li class="nav-item">
    {{ with .Site.GetPage "about" }}
    <a class="nav-link" href="{{ .Permalink }}">{{ .Title }}</a>
    {{ end }}
  </li>
  <li class="nav-item">
    <a class="nav-link" href='{{ "ukwa/contact" | relLangURL }}'>{{ i18n "contactUs" }}</a>
  </li>
</ul>
</div>

<div class="col-md-4">	
<ul class="nav flex-column">
  <li class="nav-item">
    {{ with .Site.GetPage "info/notice_takedown" }}
    <a class="nav-link" href="{{ .Permalink }}">{{ .Title }}</a>
    {{ end }}
  </li>
  <li class="nav-item">
    {{ with .Site.GetPage "info/terms_conditions" }}
    <a class="nav-link" href="{{ .Permalink }}">{{ .Title }}</a>
    {{ end }}
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://www.bl.uk/about-us/privacy-policy">{{ i18n "privacyStatement" }}</a>
  </li>
  <li class="nav-item">
    {{ with .Site.GetPage "info/cookies" }}
    <a class="nav-link" href="{{ .Permalink }}">{{ .Title }}</a>
    {{ end }}
  </li>
</ul>
</div>

<div class="col-md-4">
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active" href="http://britishlibrary.typepad.co.uk/webarchive/">{{ i18n "blog" }}</a>
  </li>
  <li class="nav-item">
    {{ with .Site.GetPage "info/faq" }}
    <a class="nav-link" href="{{ .Permalink }}">{{ .Title }}</a>
    {{ end }}
  </li>
  <li class="nav-item">
    {{ with .Site.GetPage "info/technical" }}
    <a class="nav-link" href="{{ .Permalink }}">{{ .Title }}</a>
    {{ end }}
  </li>
  <!-- This not supported by the current system.
  <li class="nav-item">
    <a class="nav-link" href='{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}'>RSS Feed</a><!- - was rss/recent.xml? - ->
  </li>
  <li class="nav-item">
    <a class="nav-link" href='{{ "target/" | relLangURL }}'>All Curated Web Sites</a>
  </li>
  -->
</ul>
</div>

</div>

</article>
{{ end }}
