{{ define "hero" }}

  <form action="search" method="get" enctype="multipart/form-data" name="search_form" id="search_form">
    <div class="container-fluid d-flex ukwa-hero-banner mb-3 pt-2 px-md-5 px-sm-3 px-xs-3 px-2">
        <div class="row justify-content-center align-self-center w-100" role="group">
            <div class="col-md-12 offset-md-2">
                <h1 class="main-heading-2-redesign padding-bottom-20">Search the UK Web Archive</h1>
            </div>
            <div class="col-md-8 offset-md-1">
                <input role="textbox" type="text" name="text" class="form-control form-control-lg homepage-search-input mr-lg-5 mr-md-5" placeholder="" aria-label="Input search text" title="Search field" required="" aria-required="true" id="hs-input-field">
            </div>
            <div class="col-md-3">
                <button role="button" type="submit" class="btn btn-lg btn-light h-100 w-auto align-items-center" title="Search">
                    <span class="d-none d-md-block align-middle">Search<i class="fa fa-search ml-2" aria-hidden="true"></i></span>
                </button>
            </div>
            <div class="col-md-12 offset-md-2 dialog-link">
                <label for="hs-input-field" id="tipsDialog">Enter a specific website URL (e.g. www.bl.uk) or any word or phrase...&nbsp;</label>
                <a role="dialog" aria-labelledby="tipsDialog" href="#" data-toggle="modal" data-target="#searchingUKWAModalCenter" class="no-decoration bg-transparent" title="Tips/Notes for using the UK Web Archive"><i class="fas fa-info-circle text-white"></i></a>
            </div>
            <input aria-hidden="true" type="hidden" name="search_location" id="search_location_full_text" value="full_text">
            <input aria-hidden="true" type="hidden" name="reset_filters" id="reset_filters" value="false">
        </div>
    </div>
  </form>
{{ end }}


{{ define "main" }}
    {{ .Content }}

<div class="row pt-4">

<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-3">
TO ADD
</div>

<!-- additional (temporary) for testing -->

<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-3">
TO ADD
</div>

<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-3">
TO ADD
</div>

<!-- The proper ones 
<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-3">
	{{ with .Site.GetPage "/collection/french-in-london" }}
	  {{ partial "collection-card" .}}
	{{ end }}
</div>

<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-3">
	{{ with .Site.GetPage "/collection/news-sites" }}
	  {{ partial "collection-card" .}}
	{{ end }}
</div>
-->

</div>

<div class="row pt-2">
	<p class="text-center w-100">
<a href='{{ "collection/" | relLangURL }}' class="btn btn-primary btn-lg">View all Topics & Themes</a>
</p>
</div>


<hr>

<div class="row">

<div class="col-md-4">	
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href='{{ "collection/" | relLangURL }}'>Topics &amp; Themes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/info/nominate">Save a UK website</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/info">About Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/contact">Contact Us</a>
  </li>
</ul>
</div>

<div class="col-md-4">	
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" href="/info/notice_takedown">Notice &amp; Takedown</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/info/terms">Terms &amp; Conditions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="http://www.bl.uk/aboutus/terms/privacy/index.html">Privacy Statement</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/info/cookies">Cookie Policy</a>
  </li>
</ul>
</div>

<div class="col-md-4">
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active" href="http://britishlibrary.typepad.co.uk/webarchive/">Blog</a>
  </li>
  <li class="nav-item">
    {{ with .Site.GetPage "info/faq" }}
    <a class="nav-link" href="{{ .Permalink }}">{{ .Title }}</a>
    {{ end }}
  </li>
  <li class="nav-item">
    {{ with .Site.GetPage "info/technical" }}
    <a class="nav-link" href="{{ .Permalink }}">{{ .Title }}</a>
    {{ end }}
  </li>
  <!-- This not supported by the current system.
  <li class="nav-item">
    <a class="nav-link" href='{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}'>RSS Feed</a><!- - was rss/recent.xml? - ->
  </li>
  <li class="nav-item">
    <a class="nav-link" href='{{ "target/" | relLangURL }}'>All Curated Web Sites</a>
  </li>
  -->
</ul>
</div>

</div>

{{ end }}
