{{ partial "header.html" .}}
{{ block "title" .}}
  <div class="row">
    <div class="col-12 white main-search-input-new left background-settings-default">
      <div class="main-heading-2-bold-redesign white">{{ .Params.Title }}</div>
    </div>
  </div>
{{ end }}
<section id="content">
  <div class=" padding-right-20" style="padding-left: 40px">
    <div class="row margin-0 padding-right-20">
{{ block "content" .}}
  This is the baseof template.
{{ end }}
    </div>
  </div>
</section>
{{ partial "footer.html" .}}
