{{ define "content" }}
        <div class="row">
    <div class="col-12 white main-search-input-new left background-settings-default">
      <div class="main-heading-2-bold-redesign white">{{ .Params.Title }}</div>
            </div>
        </div>
  <main>
      {{ .Content }}
          <ul class="contents">
          {{ range .Paginator.Pages }}
              <li><span class="col-sm date-time-title post"><a href="{{ .URL }}">{{ .Title }}</a></span>
              </li>
          {{ end }}
          </ul>
      {{ template "_internal/pagination.html" . }}
  </main>
{{ end }}