{{ define "content" }}
        <div class="row">
    <div class="col-12 white main-search-input-new left background-settings-default">
      <div class="main-heading-2-bold-redesign white">{{ .Params.Title }}</div>
            </div>
        </div>
  <main>
      {{ .Content }}

            <!--THUMBNAIL DISPLAY-->
            <div class="row margin-0 padding-side-5 padding-mobile-side-20 padding-top-0 collections" id="collections_thumbs">
          {{ range .Paginator.Pages }}
                    <div class="col-lg-3 col-md-6 col-sm-12 image-grid-col padding-bottom-20 padding-top-30">
                        <a href="{{ .URL }}" class="collection-link">
                            <figure><img class="img-responsive border-gray coll-img" alt="There is no description for this image"
                                         src="/img/collections/collection_default.png"/>
                            </figure>
                            <div class="left light-blue padding-bottom-10 padding-left-20 padding-right-20 collection-heading-bold">{{ .Title }}</div>
                            <div class="left black padding-bottom-10 padding-left-20 padding-right-20 collection-heading thumbnail">{{ .Description | safeHTML | truncate 60 }}</div>
                        </a>
                    </div>
          {{ end }}
          </div>
      {{ template "_internal/pagination.html" . }}
  </main>
{{ end }}