<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {{ template "breadcrumb" dict "currentPage" .Page "id" .File.UniqueID }}
  </ol>
</nav>
<hr/>

{{ define "breadcrumb" }}
{{ if .currentPage.Parent }}
  {{ template "breadcrumb" dict "currentPage" .currentPage.Parent }}
{{ end }}
{{ if eq .id .currentPage.File.UniqueID }}
  <li class="breadcrumb-item active">{{ .currentPage.Title }}</li>
{{ else if .currentPage.IsHome }}
  <li class="breadcrumb-item"><i>{{ i18n "youAreHere"}}:</i>&nbsp;&nbsp;<a href="{{ .currentPage.Permalink }}">{{ i18n "home" }}</a></li>
{{ else }}
  <li class="breadcrumb-item"><a href="{{ .currentPage.Permalink }}">{{ .currentPage.Title }}</a></li>
{{ end }}
{{ end }}
