<div class="card text-center">
  {{ $imgPath := ( printf "static/img/collections/collection_%s.png" .collectionId ) }}
  <a href='{{ "ukwa/collection" | relLangURL }}/{{ .collectionId }}'>
    {{ if (fileExists $imgPath) -}}
    <img class="card-img-top" src="/img/collections/collection_{{ .collectionId }}.png" alt="{{ .title }}">
    {{- else -}}
    <img class="card-img-top" src="/img/collections/collection_default.png" alt="{{ .title }}">
    {{- end }}
  </a>
  <div class="card-body position-relative">
    <h5 class="card-title">{{ .title | safeHTML | truncate 60 }}</h5>
    <p class="card-text">{{ .description | safeHTML | truncate 200 }}</p>
    <a href='{{ "ukwa/collection" | relLangURL }}/{{ .collectionId }}' class="btn ukwa-button btn-primary stretched-link" aria-label='{{ i18n "view" }} {{ .title | safeHTML }}'>{{ i18n "view" }}</a> 
  </div>
</div>

