<div class="card text-center">
  <a href="{{ .Permalink }}">
    {{ $img_path := ( printf "static/img/collections/collection_%.f.png" .Params.id ) }}
    {{ if (fileExists $img_path) -}}
    <img class="card-img-top" src="/img/collections/collection_{{ .Params.id }}.png" alt="{{ .Title }}">
    {{- else -}}
    <img class="card-img-top" src="/img/collections/collection_default.png" alt="{{ .Title }}">
    {{- end }}
  </a>
  <div class="card-body position-relative">
    <h5 class="card-title">{{ .Title | safeHTML | truncate 60 }}</h5>
    <p class="card-text">{{ .Description | safeHTML | truncate 200 }}</p>
    <a href="{{ .Permalink }}" class="btn btn-primary">View</a> 
  </div>
</div>

