<div class="card text-center">
  <a href='{{ "ukwa/collection" | relLangURL }}/{{ .collectionId }}'>
    {{ $image := newScratch }}
    {{ $imgPath := ( printf "images/uploads/collection_%s.png" .collectionId ) }}
    {{ with resources.Get $imgPath }}
      {{ $image.Set "image" . }}
    {{ else }}
      {{ $image.Set "image" (resources.Get "images/uploads/collection_default.png") }}
    {{- end }}

    {{ $image := $image.Get "image" }}
    {{ $image := $image.Fill "400x300" }}
    <!-- not setting width="{{ $image.Width }}" height="{{ $image.Height }}" as this is a flexible layout -->
    <img class="card-img-top" src="{{ $image.RelPermalink }}" alt="{{ .title }}">
  </a>
  <div class="card-body position-relative">
    <a href='{{ "ukwa/collection" | relLangURL }}/{{ .collectionId }}' class="collection-link" aria-label='{{ i18n "view" }} {{ .title | safeHTML }}'>
      <h5 class="card-title">{{ .title | safeHTML | truncate 60 }}</h5>
      <p class="card-text">{{ .description | safeHTML | truncate 200 }}</p>
    </a> 
  </div>
</div>

