<footer class="footer">
<div class="row pt-3 pb-2">
    <div class="col-12 text-center">
        {{ i18n "footerTextLine" }}
    </div>
</div>
<div class="row footer-logos pb-3 mb-3">
        <div class="col-md-2 text-center p-0 mt-2"><a href="http://www.bodleian.ox.ac.uk/" target="_blank"><img src="/img/bodleian_logo_BW.jpg" alt='{{ i18n "titleBod" }}' class="img-thumbnail w-50"></a></div>
        <div class="col-md-2 text-center p-0 mt-2"><a href="https://www.llgc.org.uk/" target="_blank"><img src="/img/llgc_logo_BW.png" alt='{{ i18n "titleLLGC" }}' class="img-thumbnail w-50"></a></div>
        <div class="col-md-2 text-center p-0 mt-2"><a href="https://www.nls.uk/" target="_blank"><img src="/img/NLS_logo_2_BW.jpg" alt='{{ i18n "titleNLS" }}' class="img-thumbnail w-50"></a></div>
        <div class="col-md-2 text-center p-0 mt-2"><a href="https://www.bl.uk/" target="_blank"><img src="/img/bl_logo_BW.png" alt='{{ i18n "titleBL" }}' class="img-thumbnail w-50"></a></div>
        <div class="col-md-2 text-center p-0 mt-2"><a href="http://www.lib.cam.ac.uk/" target="_blank"><img src="/img/cambrige_logo600_BW.png" alt='{{ i18n "titleCUL" }}' class="img-thumbnail w-50"></a></div>
        <div class="col-md-2 text-center p-0 mt-2"><a href="https://www.tcd.ie/" target="_blank"><img src="/img/trinity_logo_BW.jpg" alt='{{ i18n "titleTCD" }}' class="img-thumbnail w-50"></a></div>
</div>

{{ $colorScheme := default "light" .Site.Params.footer.colorScheme }}
    <nav class="navbar navbar-{{ $colorScheme }}">
        <p class="w-100 text-center"><a href="#">{{ i18n "backToTop" }}</a></p>
    </nav>

</footer>