    <nav role="navigation" class="navbar navbar-light navbar-expand-md" id="main-nav" aria-label='{{ i18n "mainNavigation" }}'>
        <a class="navbar-brand" href='{{ "/ukwa/" | relLangURL }}'>
            {{ partial "brand" . }}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label='{{ i18n "toggleNavigation" }}'>
            <span class="navbar-toggler-icon"> <i class="fas fa-bars" style="font-size:28px;"></i></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav">
                {{ $url := .Permalink | relLangURL }}
                {{ range .Site.Menus.main }}
                <li class="nav-item {{ if eq $url (.URL | relLangURL) }}active{{end}}">
                    {{ if eq (hasPrefix .URL "mailto:") true }}
                        <a class="nav-link" href="{{ .URL }}">{{ i18n .Name }}</a>
                    {{ else }}
                        <a class="nav-link" href="{{ .URL | relLangURL }}">{{ i18n .Name }}</a>
                    {{ end }}
                </li>
                {{ end }}
            </ul>
            <ul class="navbar-nav">
                {{ if .IsTranslated }}
                {{ $pageLang := .Page.Lang}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ i18n "language" }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    {{ range .AllTranslations }}
                        {{ if eq .Lang $pageLang }}
                            <a class="dropdown-item disabled" href="#">{{ .Language.LanguageName }}</a>
                        {{ else }}
                            <a class="dropdown-item" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
                        {{ end }}
                    {{ end }}
                    </div>
                </li>
                {{ end }} 
                <li class="nav-item">
                    <a href="javascript:void(0)" id="universalaccess_href" aria-label='{{ i18n "highContrastModeSwitch" }}' title='{{ i18n "highContrastModeSwitch" }}' tabindex="0">
                        <i class="fas fa-universal-access fa fa-2x highcontastUAIconOff"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
