{{ define "main" }}

  <main>

    <div class="row">
      <div class="col-8 pb-3">
        {{ .Content }}
        
        <form action="search" method="get" enctype="multipart/form-data">
          <input type="hidden" name="search_location" value="full_text">
          <input type="hidden" name="collection" value="{{ .Title }}">
          <input type="hidden" name="collection_id" value="{{ .Params.Id }}">
          <div class="row mt-4 mb-2">
            <div class="col-md-8">
              <input type="text" name="text" class="form-control" placeholder="Search within '{{ .Title }}'">
            </div>
            <div class="col-md-4">
              <button type="submit" class="btn btn-primary">Search within... <i class="fa fa-search"></i></button>
            </div>
          </div>
        </form>

      </div>
      <div class="col-4 pb-3">
        {{ with .Params.stats }}
        <table class="table table-borderless">
          <thead>
            <tr>
              <th colspan="2" class="text-center">
                Collection Statistics
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Number of Targets</th>
              <td class="text-right">{{ .num_targets }}</td>
            </tr>
            <tr>
              <th scope="row">Number of Open Access Targets</th>
              <td class="text-right">{{ .num_oa_targets }}</td>
            </tr>
          </tbody>
        </table>
        {{ end }}
      </div>
    </div>

    {{ if .Sections }}
      {{ if not .Parent.IsHome }}
      <h2>Sub-collections</h2>
      {{ end }}
      <div class="row">
        {{ range .Sections}}
        <div class="col-sm-3 pb-3">

          {{ partial "collection-card" . }}

        </div>
        {{ end }}
      </div>
    {{ end }}

    {{ if .Params.targets }}
      <h2>Web sites</h2>

      <div class="row margin-0 padding-side-5 padding-mobile-side-20 padding-top-0 targets">
        {{ range .Params.targets }}
          {{ $file_path := printf "/target/%s" .file_path  }}
          {{ with $.Site.GetPage $file_path }}
          <div class="col-lx-3 col-lg-4 col-md-6 col-sm-12">
            {{ partial "target-card" . }}
          </div>
          {{ end }}
        {{ end }}
      </div>
    {{ end }}
</main>

{{ end }}


{{ define "target" }}
{{ end }}